@import 'base';

$header-height: 60px;
$header-bg: #565555;

html {
	height:100%;
	body {
		position: relative;
		padding-top:$header-height;
		background-color: #f5f5f5;
		margin: 0 auto;
	}
}

* { /* border: 1px solid red; */}

header {
	position: fixed;
	height:$header-height;
	width: 100%;
	background-color:$header-bg;
	left:0;
	top:0;
	display:flex;
  align-items: center;
  justify-content: center;

	> ul {

		> li {
			position:relative;
			display:inline-block;
			vertical-align: top;
		}

		ul {
			display:none;
			position:absolute;
			background-color:$header-bg;
			left:0;

			> li {
				
			}

		}
	
		ul:hover,
		li:hover > ul {
			display:block;	
		}
	}

	li > a {
		padding: 10px 30px;
		white-space: nowrap;
		text-decoration: none;
		color: #fff;
	}
}

$product-bg: #cbd4ff;

section.products {
	padding-top:20px;
	display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
	max-width: 1600px;
	text-align: center;

	> div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
		border:1px solid $product-bg;
		width: 200px;
		height: 250px;
		margin:20px;
		padding:5px;
		background-color: $product-bg;
		> div {
			width: 100%;
						
		}
		div.btns {
			padding: 10px 0 5px 0;
			.fa-heart.active {
				color:#da4229;
			}
		}
		> div.imgWrp {
			height:100%;
			overflow: hidden;
			> img {
				height:100%;
				width:auto;
			}			

		}

		> h2 {
			font-size: 1.5rem;
			padding:5px 0;
		}
		

	}

}